<!-- about.component.html -->

<section class="about-section">
    <div class="container">
      <div class="about-content">
        <div class="image-container">
          <img src="assets/hero.jpg" alt="About Angular">
        </div>
        <div class="text-container">
            <h2>About Aswin J</h2>
            <p>
              Aswin J is  an  Final year Master of Computer Application Student at Amrita Vishwa Vidyapeetham, Amritapuri.
            </p>
           
          </div>
        </div>
      </div>
    </section>